@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}

.form-container{
    background-color: #fffcf2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-wrapper{
        background-color: #403d39;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        box-shadow: #252422 0px 20px 30px -10px;

        @include mobile{
            width: 220px;
        }
    

        .logo{
            background-color: #403d39;
            width: 60px;
            height: 30px;
        }

        .title{
            color: rgb(175, 175, 175);
            font-size: 24px;
            font-weight: 400;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .error{
                display: flex;
                gap: 1rem;
                align-items: center;
                padding: 0.7rem;
                border: 1px solid #e77c52;
                border-radius: 0.5rem;
                outline: #7c7974 solid 2px;
                outline-offset: 2px;
                
                p {
                    margin: 0;
                    font-size: 14px;
                    color: #fffcf2;
                }
        
                button {
                    background-color: #7c7974;
                    color: #403d39;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    width: 20px;
                    height: 20px;
                    border: none;
                    border-radius: 0.5rem;
                    transition: background-color 0.2s;
        
                    &:hover{
                        background-color: #fffcf2;
                    }
                }
            }

            input{
                background-color: #fffcf2;
                padding: 15px;
                width: 250px;
                border: none;
                border-radius: 10px;
                outline: none;
                color: #403d39;
                font-weight: 600;
                font-size: 14px;

                &::placeholder{
                    color: rgb(175, 175, 175);
                    font-weight: 600;
                font-size: 12px;
                }

                &:focus {
                    outline: #fffcf2 solid 1px;
                    outline-offset: 2px;
                }
            }

            label{
                display: flex;
                padding: 0.3rem;
                border-radius: 0.5rem;
                align-items: center;
                gap: 15px;
                color:  rgb(175, 175, 175);
                font-size: 12px;
                cursor: pointer;

                img{
                    padding: 0.1rem;
                    background-color: #252422;
                    width: 32px;
                    border-radius: 10px;
                    box-shadow: #252422 1.95px 1.95px 2.6px;
                }

                span {
                    padding: 3px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }


            button{
                width: 50%;
                background-color: #eb5e28;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: transform 0.5s;

                &:hover{
                    transform: scale(0.95);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }

                &:focus{
                    transform: scale(1.0);
                    box-shadow: #e77c52 0px 2px 15px 0px;
                    outline: #eb5e28 solid 1px;
                    outline-offset: 2px;
                }
            }
            }

        }
        
        p{
            color: rgb(175, 175, 175);
            font-size: 12px;
            margin-top: 10px;
            text-align: center;

            a {
                color: #eeeeee;
            }
        }
    }
