@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}

.search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-bottom: 1px dotted #252422;
    
    @include mobile{
        align-items: center;
    }

    .toggle{
        padding:2px;
        display: flex;
    justify-content: center;
    align-items: center;
        button{
            display: none;
            padding: 5px;
            height: 35px;
            width: 35px;
            border: none;
            background-color: transparent;
            transition: background-color 0.2s;
            border-radius: 100%;
                 &:hover {
                    background-color: #7c7974;
                 }
                 @include mobile{
                    display: block;
                }
        }
    
        .search-form[data-isopen=true]{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #403d39;
    
            input{
                background-color: transparent;
                border: none;
                color: white;
                outline: none;
    
                &::placeholder{
                    color: lightgray;
                }
            }
    
            button {
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
                border: none;
                background-color: transparent;
                transition: background-color 0.2s;
                border-radius: 100%;
                 &:hover {
                    background-color: #7c7974;
                 }
            }
            
        }
    
        .search-form[data-isopen=false]{
            @include mobile{
            display: none;
            }
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #403d39;
    
            input{
                background-color: transparent;
                border: none;
                color: white;
                outline: none;
    
                &::placeholder{
                    color: lightgray;
                }
            }
    
            button {
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
                border: none;
                background-color: transparent;
                transition: background-color 0.2s;
                border-radius: 100%;
                 &:hover {
                    background-color: #7c7974;
                 }
            }
        }

    }

    span {
        padding: 10px;
        text-align: center;
        color: #7c7974;
    }


    .user-chat{
        width: 92%;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: #252422;
        }

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .user-chat-info[data-isopen=true]{
            span{
                padding: 0px;
                font-size: 18px;
                font-weight: 500;
            }

            p{
                margin: 0;
                font-size: 14px;
                color: lightgray;
            }
        }
        .user-chat-info[data-isopen=false]{
            display: none;
        }

        
        
    }

}