@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}

.search{
    border-bottom: 1px dotted gray;

    @include mobile{
        display: none;
    }

    .search-form{
        padding: 10px;

        input{
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder{
                color: lightgray;
            }
        }
    }

}